<app-herosection></app-herosection>
<app-epicworlds></app-epicworlds>
<app-your-next-watch></app-your-next-watch>
<app-us-tv-shows></app-us-tv-shows>
<app-ustvdramas></app-ustvdramas>
<app-k-dramas></app-k-dramas>
<app-indian-tv-dramas></app-indian-tv-dramas>
<app-award-winning-tv-shows></app-award-winning-tv-shows>
<app-comedy-movies></app-comedy-movies>
<app-hindi-language-movies></app-hindi-language-movies>
<app-inabitofahurry>    </app-inabitofahurry>
<app-international-tv-shows></app-international-tv-shows>
<app-internationaltvdramas></app-internationaltvdramas>
<app-plans> </app-plans>
<app-romantic-movies></app-romantic-movies>
<app-tv-serials></app-tv-serials>
<app-tvcomedies></app-tvcomedies>
<app-criticallyacclaimedtvshows></app-criticallyacclaimedtvshows>